#nbar{
    background-color:#001d3d;
    color:black;
}
.nav-img{
    height: 30px;
    width: 30px;
}
#heart{
    float:right;
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px;
}
#heart:hover{
    color:blue;
    border: 1px solid blue;
}
.mi{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.site-link{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/*--Banner--*/
div.container.image{
    padding: 6em 0 0;
  }
  .banner a:hover {
    color: #fff;
  }
  
  .banner h2 {
    font-size:2.5em;
    font-weight: 600;
    color: #fff;
  }
  
  .banner {
    text-align: center;
  }
  
  .banner p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.46);
    font-weight: 400;
    line-height: 1.8em;
    margin: 3em auto 1em;
    width: 70%;
  }
  input.form-control {
      border-radius: 10px;
  }
  
  .banner{
    text-align: center;
    margin-top: 80px;
    background-image: url('/static/images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover; */
    min-height: 350px;
    padding-top: 50px;  
    background-size: cover;
    background-attachment: fixed;
  }
  .banner h2{
    padding-bottom: 20px;
  }
  .cover{
      min-height: 350px;
      width: inherit;
      /* background: rgba(0,0,0,0.5) */
  }
  .rates{
    font-size:14px;
    font-weight:bolder;
}
#heart:hover{
  color:blue;
  border: 1px solid blue;
}
.ting{
  font-size:14px;
}
.display{
  display: flex;
  flex-wrap: wrap;
}
.container-fluid{
  padding-right:0px;
   padding-left:0px;
}   